<div id="filters" class="filters">
    <div class="filter-column">
        <div class="select-wrapper-group">
            <div class="select-wrapper select-wrapper-half">
                <select name="date_from">
                    {% for i in -250..0 %}
                        <option value="{{ "now"|date_modify( i ~" hour")|date('Y-m-d\\TH:i:sO') }}" {% if i == 0 %} selected {% endif %}>{{ "now"|date_modify( i ~" hour")|date('H:00 d-m-Y') }}</option>
                    {% endfor %}
                </select>
            </div>
            <span class="hyphen">-</span>
            <div class="select-wrapper select-wrapper-half">
                <select name="date_to">
                    {% for i in -250..0 %}
                        <option value="{{ "now"|date_modify( i ~" hour")|date('Y-m-d\\TH:i:sO') }}" {% if i == 0 %} selected {% endif %}>{{ "now"|date_modify( i ~" hour")|date('H:00 d-m-Y') }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="select-wrapper">
            <select name="sport">
                <option value="0">Sport</option>
                {% for sport in sports %}
                    <option value="{{ sport.id }}">{{ sport.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="select-wrapper">
            <select name="event-chain">
                <option value="0">Event</option>
                {% for chain in event_chains %}
                    <option value="{{ chain.id }}">{{ chain.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% for type in coefficientTypes %}
        {% if (loop.index - 1) is divisible by(3) or loop.index==1 %}
            <div class="filter-column">
        {% endif %}
        <div class="range-wrapper">
            <label for="{{ type.code }}">{{ type.name }} : <span id="coefficient-{{ type.id }}-value">0</span></label>
            <input id="coefficient-{{ type.id }}" class="coefficient-control" type="range" name="{{ type.code }}" value="0" min="0" step="0.1" max="20">
        </div>
        {% if loop.index is divisible by(3) %}
            </div>
        {% endif %}
    {% endfor %}
    <div class="filter-column right">
        <input id="submit-search" class="search-button" value="Search" type="button">
    </div>
    <div class="clear"></div>
</div>